.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app-section {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.app-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(54, 164, 224);
    border-radius: 15px;
    background-color: rgb(239, 243, 182);
    margin-bottom: 15px;
}

.app-list {
    color: rgb(35, 175, 214);
    font-size: 16px;
    font-weight: 600;
}