.cards {
    width: 400px;
    height: 320px;
    border: 2px solid rgb(114, 82, 166);
    margin: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    box-shadow: 10px 5px 5px rgb(176, 174, 174);
    background: rgb(170, 132, 230);
    color: white;
    font-size: 18px;
}

.cards input {
    margin: 20% 30%;
    padding: 10px 0;
    width: 40%;
    border: 2px solid rgb(114, 82, 166);
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    pointer-events: visible;
    color: rgb(121, 82, 185);
    font-size: 18px;
    cursor: pointer;
}

p:first-child {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}